@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Praise&family=Space+Grotesk:wght@400;500;600;700&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  height: 100vh;
  margin: 0;
  background-color: #1e1d1d; /* dark gray for entire app */
  color: #fff; /* optional: make text white */
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  min-height: 0;
}

.menuContainer {
  width: 250px;
}

.contentContainer {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #1e1d1d; /* same dark gray */
}

/* Navbar */
.navbar {
  background-color: #1e1d1d; /* dark gray */
}

/* Footer */
.footer {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #1e1d1d; /* dark gray */
}
